fastapi==0.115.5
uvicorn==0.32.1
requests==2.32.3
pandas==2.2.3
numpy
pytz==2024.2
beautifulsoup4==4.12.3
lxml==5.3.0
openai==1.66.3
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.44
langchain-openai==0.3.8
langchain-text-splitters==0.3.6
faiss-cpu==1.9.0.post1
rank_bm25==0.2.1
docxtpl==0.19.0
python-docx==1.1.2
PyPDF2==3.0.1
reportlab>=3.6.0
google-auth==2.36.0
google-auth-httplib2>=0.1
google-api-python-client>=2.0
google-cloud-storage==2.11.0
pydantic==2.10.2
tiktoken==0.8.0